.body-container {
    border: 2px solid blue;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-card-main {
    border-radius: 25px;
    height: 90%;
    width: 60%;
    display: flex;
    background-color: blanchedalmond;
    opacity: 0.3;
}

.body-card-main>div {
    border-radius: 25px;
    height: 100%;
}

.body-section-img {
    border: 1px solid red;
    width: 45%;
}

.body-section-info-clima {
    width: 55%;
    opacity: none;
}

/* 
.body-containers {
    background-color: blue;
    width: 60%;
    height: 10%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
} */