.body-container {
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-card-main {
    border-radius: 25px;
    height: 100%;
    width: 60%;
    display: flex;
    background-color: white;
    opacity: .4;
    border: 1px solid rgb(212, 89, 147);
}

.body-card-main>div {
    border-radius: 25px;
    height: 100%;
    opacity: 1;
}

.body-section-img {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
}

.body-section-info-clima {
    width: 55%;
}

.day {
    margin-top: 30px;
    opacity: 1;
}

.city-name {
    font-size: 50px;
    opacity: 1;
    color: black;
    margin-top: 5px;
}

.current {
    font-size: 20px;
    margin-top: 25px;
    opacity: 1;
}

.weather {
    font-size: 20px;
    margin-top: 5px;
}

@media (max-width: 530px) {
    .body-container {
        margin-top: -20%;
    }

    .body-card-main {
        height: 60%;
        width: 80%;
    }

    .body-section-img {
        width: 40%;
        font-size: 100px;
    }

    .day {
        font-size: 20px;
    }

    .city-name {
        font-size: 25px;
        margin-top: 5%;
    }

    .current {
        font-size: 18px;
        margin-top: 15%;
    }

    .weather {
        font-size: 18px;
        margin-top: 5%;
    }
}