.container-Item {
    opacity: none;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.3;
    background-color: white
}

.temperatura-max {
    font-size: 20px;
}

.temperatura-min {
    font-size: 20px;
}