.footer-container {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-card-item {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: -5%;
}

.temperatura {
    font-size: 20px;
}

@media (max-width: 530px) {
    .container-card-item {
        height: 150%;
        width: 95%;
        margin-top: -30%;
        display: grid;
        grid-template-columns: repeat(4, 20%);
    }
}